:root {
  /* brand按钮 */
  --vp-c-brand-1: #28c76f;
  --vp-c-brand-2: #28c76f;
  --vp-c-brand-3: #28c76f;

  /* 标题 */
  --vp-home-hero-name-color: transparent;
  --vp-home-hero-name-background: linear-gradient(
    135deg,
    #81fbb8 10%,
    #28c76f 100%
  );

  /* 图标背景 */
  --vp-home-hero-image-background-image: linear-gradient(
    135deg,
    #81fbb8 10%,
    #28c76f 100%
  );
  --vp-home-hero-image-filter: blur(150px);
}
::-webkit-scrollbar {
  background-color: transparent;
  height: 0.6em;
  width: 0.6em;
}

.dark ::-webkit-scrollbar-thumb {
  --tw-bg-opacity: 1;
  background-color: rgb(51 65 85 / 1);
}

::-webkit-scrollbar-thumb {
  --tw-bg-opacity: 1;
  background-color: rgb(203 213 225 / 1);
  border-radius: 0.6em;
}

.dark ::-webkit-scrollbar-track {
  --tw-bg-opacity: 1;
  background-color: rgb(30 41 59 / 1);
}

::-webkit-scrollbar-track {
  --tw-bg-opacity: 1;
  background-color: rgb(241 245 249 / 1);
}

::selection {
  background-color: rgb(0 193 106 / 0.4);
}
